/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.Even{
    background-color:steelblue; 
    color:white;
}

.Odd{
    background-color:red; 
    color:white;
   
}